*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: white;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-top: 10%;
    margin-left: 10%;

}
.calculator h1{
   font-size: 40px;
}
.input-box{
    margin-top:20px ;
    height: 90px;
    width: 380px;
    background:rgba(225, 225, 225, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

}
#date{
    width:250px ;
    height:40px ;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    
    
}
.input-box button{
    width:80px ;
    height:40px ;
    border-radius: 10px;
    border: none;
    background: rgb(217, 217, 80);
    outline: none;
    cursor: pointer;
}

.calculator p{
    margin: 30px auto 10px;
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
}
.calculator span{
    color:yellow;
}
